section {
    margin: 40px 0px 40px 0px;
}


/* Create Test page */
.base_forms {
    border: solid 2px;
    margin: 20px 0px 20px 0px;
}

.question_buttons {
    margin: 20px 40px 0px 20px;
}



.test-container {
    margin-top: 30px;
}

.categories_links {
    margin-left: 4px;
}